<div class="container">

	<div class="row top">
		<div class="col-lg-12 text-center r-top">
			<img ng-src="/images/logo.png"/>
		</div>
	</div>

	<ng-form ng-if="!userLoggedIn">
		<div class="form-group">
			<label for="nameInput">Your Name</label>
			<input type="text" class="form-control" id="nameInput" placeholder="Enter your name" ng-model="userName">
		</div>
		<button type="submit" class="btn btn-default" ng-click="submit(userName)">Submit</button>
	</ng-form>


	<div ng-if="userLoggedIn" class="row">Connected Users: {{nUsers}}</div>
	<div ng-if="userLoggedIn" class="row activity-main">
		<div class="col-lg-4 activity-contact">
				<div class="list-group" id="activities">
					<div ng-repeat="activity in activities" class="row animation">
						<p ng-if="activity.me === true">Welcome {{activity.userName}}!</p>
						<p ng-if="activity.me === false">{{activity.userName}} has connected!</p>
						<a ng-if="activity.source" href="" class="list-group-item {{activity.source}}">
							<img ng-src="/images/{{activity.img}}" height="30px" width="30px"/>
							<!-- usar filtros aqui-->
							{{activity.source}} | de: {{activity.user.name}} - {{activity.message}} | {{activity.date}} 
						</a>
					</div>
				</div>
		</div>

		<div ng-controller="TwilioCtrl" class="col-lg-8 activity-detail">
			<div class="row">
				<div class="col-lg-4">
				 <img class="detail-image" ng-src="/images/foto-grupo.jpg"/>
				</div>
				<div class="col-lg-8">
					<address>
						<strong>Opensoft</strong><br>
						795 Folsom Ave, Suite 600<br>
						Lisboa, 1234<br>
						<abbr title="Phone">P:</abbr> (123) 123-4567
					</address>

					<h3> Detalhe HookieMonster!!</h3>
					<br>
					<button class="btn btn-success" ng-click="answer();">
						Atender o Hookie!
					</button>

					<button class="btn btn-danger" ng-click="hangup();">
						Desligar o Hookie!
					</button>
					<br>
					<p><strong><div>{{log}}</div></strong></p>

				</div>
			</div>
		</div>

	</div>

	<div class="row text-center">
		<div class="col-lg-12">
			<h3>HOOK all the events!</h3>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-12">
			<a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-google-plus-square"></i></a>  <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-github-square"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
		</div>
	</div>

</div>
