<div class="container">

	<div ng-if="!userLoggedIn" class="col-md-6 col-md-offset-3 top">
    <div class="panel panel-default panel-login">
        <div class="panel-heading panel-heading-login">
            <div class="row-fluid user-row">
                <img src="/images/logoVert.gif" class="img-start-logo" alt="Hookie Monster!"/>
            </div>
        </div>
        <div class="panel-body">
            <ng-form name="loginForm" class="form-signin">
                <fieldset>
                    <br>
										<!-- TODO 1: formulario com username e email-->

                </fieldset>
            </ng-form>
        </div>
    </div>
	</div>

	<div ng-if="userLoggedIn" class="row activity-main">

		<div class="col-md-9">
			<br>
			<div class="row">
				<div ng-repeat="hook in supportedHooks" class="col-lg-2 col-md-3 col-xs-3 filters">
					<label for="{{hook}}">
						<img ng-src="/images/{{hook}}.jpg" height="29px" width="29px"/>
						<input id="{{hook}}" type="checkbox" name="hooks" value="{{hook}}" ng-model="selectedHooks[hook]">
						<span class="icon"><i class="fa fa-check"></i></span>
					</label>
				</div>
			</div>

			<div class="row">
				<div class="list-group activity-contact">
					<div ng-repeat="activity in activities | filter:filterHooks" class="row animation">
						<div class="row">
						  <div class="col-md-12">
						    <a ng-if="activity.source" href="" class="list-group-item {{activity.source}}" ng-click="open(activity, isCallActive)">
						        <img ng-src="/images/{{activity.img}}" height="30px" width="30px"/>
						        {{activity.source | uppercase }}  @{{activity.user.name}} <span am-time-ago="activity.date"/> - {{activity.message}}
						    </a>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-3 activity-detail">
				<div class="row">
					<div class="col-md-12">
						<!-- TODO 4: Imagem do utilizador-->
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p><address>
							<!-- TODO 3: Mostrar user logado-->

						</address></p>
					</div>
				</div>
				<br><br><br><br><br><br><br><br>

				<div class="row text-center">
					<div class="col-md-12">
						<h3>HOOK all the events!</h3>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-12">
						<a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-google-plus-square"></i></a>  <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
					</div>
				</div>
		</div>
	</div>

</div>
