<div class="container">
	<div class="activity-main">
		<div class="row">
			<div class="col-md-12">

				<div class="row">
					<div ng-repeat="hook in supportedHooks" class="col-lg-2 col-md-3 col-xs-3 filters">
						<label for="{{hook}}">
							<img ng-src="/images/{{hook}}.jpg" height="29px" width="29px"/>
							<input id="{{hook}}" type="checkbox" ng-model="selectedHooks[hook]">
							<span class="icon"><i class="fa fa-check"></i></span>
						</label>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="list-group activity-contact">

							<div ng-repeat="activity in activities  | filter:filterHooks" class="animation row">
							  <div class="col-md-12">
							    <a href="" class="list-group-item {{activity.source}}" ng-click="open(activity)">
							        <img ng-src="/images/{{activity.img}}" height="30px" width="30px"/>
							        {{activity.source | uppercase }}  @{{activity.user.name}} <span am-time-ago="activity.date"/> - {{activity.message}}
							    </a>
							  </div>
							</div>

						</div>
					</div>
				</div>

	</div>
</div>
