<div class="container">

	<div class="row top">
		<div class="col-lg-12 text-center r-top">
			<h1>HookieMonster  WorkShop	</h1>
		</div>
	</div>
	<br>

	<div class="row activity-main">
		<div class="col-lg-4 activity-contact">
				<div class="list-group" id="twilios">
					<div class="row" ng-repeat="twilio in twilios track by $index">
						<a href="" class="list-group-item {{twilio.source}}">
							<img ng-src="http://ascii.jp/elem/000/000/805/805462/twilio-s_230x.gif" height="30px" width="30px"/>
							<!-- usar filtros aqui-->
							{{twilio.source}} | de: {{twilio.from}} - {{twilio.message}} | {{twilio.duration}}s
						</a>
					</div>
					    <!-- isto tao aqui varios repetidos so para encher -->
					<div class="row" ng-repeat="twilio in twilios track by $index">
						<a href="" class="list-group-item {{twilio.source}}">
							<img ng-src="http://ascii.jp/elem/000/000/805/805462/twilio-s_230x.gif" height="30px" width="30px"/>
							{{twilio.source}} | de: {{twilio.from}} - {{twilio.message}} | {{twilio.duration}}s
						</a>
					</div>
					<div class="row" ng-repeat="twilio in twilios track by $index">
						<a href="" class="list-group-item {{twilio.source}}">
							<img ng-src="http://ascii.jp/elem/000/000/805/805462/twilio-s_230x.gif" height="30px" width="30px"/>
							{{twilio.source}} | de: {{twilio.from}} - {{twilio.message}} | {{twilio.duration}}s
						</a>
					</div>
					<div class="row" ng-repeat="twilio in twilios track by $index">
						<a href="" class="list-group-item {{twilio.source}}">
							<img ng-src="http://ascii.jp/elem/000/000/805/805462/twilio-s_230x.gif" height="30px" width="30px"/>
							{{twilio.source}} | de: {{twilio.from}} - {{twilio.message}} | {{twilio.duration}}s
						</a>
					</div>
					<div class="row" ng-repeat="twilio in twilios track by $index">
						<a href="" class="list-group-item {{twilio.source}}">
							<img ng-src="http://ascii.jp/elem/000/000/805/805462/twilio-s_230x.gif" height="30px" width="30px"/>
							{{twilio.source}} | de: {{twilio.from}} - {{twilio.message}} | {{twilio.duration}}s
						</a>
					</div>
				</div>
		</div>
		<div class="col-lg-8 activity-detail">
			<div class="row">
				<div class="col-lg-4">
				 <img class="detail-image" ng-src="/imgs/foto-grupo.jpg"/>
				</div>
				<div class="col-lg-8">
					<address>
						<strong>Opensoft</strong><br>
						795 Folsom Ave, Suite 600<br>
						Lisboa, 1234<br>
						<abbr title="Phone">P:</abbr> (123) 123-4567
					</address>
				</div>
			</div>
		</div>

	</div>

	<div class="row text-center">
		<div class="col-lg-12">
			<h3>HOOK all the events!</h3>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-12">
			<a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-google-plus-square"></i></a>  <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-github-square"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
		</div>
	</div>

</div>
