<form name='hookieForm' novalidate>
	<div>
			<label>Your Name</label>
			<input type='text' ng-model='hookieName'/>
	</div>
</form>

<pre ng-if='hookieName'>
	Welcome to the Hookie Family, {{hookieName}}!
</pre>

<h1 ng-if="twilios.length">Twilio</h1>
<ul id="twilios" ng-repeat="twilio in twilios">
	<li>{{twilio}}</li>
</ul>

<h1 ng-if="dropboxes.length">Dropbox</h1>
<ul id="dropbox" ng-repeat="dropbox in dropboxes">
	<li>{{dropbox}}</li>
</ul>

<h1 ng-if="gitHubs.length">GitHub</h1>
<ul id="gitHub" ng-repeat="gitHub in gitHubs">
	<li>{{gitHub}}</li>
</ul>

<h1 ng-if="trellos.length">GitHub</h1>
<ul id="trello" ng-repeat="trello in trellos">
	<li>{{gitHub}}</li>
</ul>
