<div class="container">

	<div class="row top">
		<div class="col-lg-12 text-center r-top">
			<h1>HookieMonster  WorkShop	</h1>
		</div>
	</div>
	<br>

	<div class="row activity-main">
		<div class="col-lg-4 activity-contact">
				<div class="list-group" id="activities">
					<div ng-repeat="activity in activities" class="row animation">
						<a href="" class="list-group-item {{activity.source}}">
							<img ng-src="/imgs/{{activity.source}}.jpg" height="30px" width="30px"/>
							<!-- usar filtros aqui-->
							{{activity.source}} | de: {{activity.from}} - {{activity.message}} | {{activity.duration}}s
						</a>
					</div>
				</div>
		</div>
		<div class="col-lg-8 activity-detail">
			<div class="row">
				<div class="col-lg-4">
				 <img class="detail-image" ng-src="/imgs/foto-grupo.jpg"/>
				</div>
				<div class="col-lg-8">
					<address>
						<strong>Opensoft</strong><br>
						795 Folsom Ave, Suite 600<br>
						Lisboa, 1234<br>
						<abbr title="Phone">P:</abbr> (123) 123-4567
					</address>

					<h3> Detalhe HookieMonster!!</h3>
					<br>
					<p><strong>ouvir chamada</strong></p>

				</div>
			</div>
		</div>

	</div>

	<div class="row text-center">
		<div class="col-lg-12">
			<h3>HOOK all the events!</h3>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-12">
			<a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-google-plus-square"></i></a>  <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-github-square"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
		</div>
	</div>

</div>
